@import '../palette.scss';

.DisconnectIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;

  path {
    stroke: $primary-color;
  }

  &:hover {
    path {
      stroke: $secondary-color;
    }
  }
}